*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-00C897{
    background-color: #00C897;
}
.modal-content{
    border: none !important;
}
.modal-header{
    border:none !important;
}
.modal-body{
    padding:0;
}

.btn-submit{
    background-color: #ff6363;
    color: #fff;
    padding:1px 19px;
}

.close:focus{
    box-shadow:none !important;
}